<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header>
        <img src="/img/logo_upstables.jpg" alt="logo_upstables" width="20%" height="20%">
        <h1>UPSTABLES</h1>
        <form>
            <input type="text" name="buscador" placeholder="¿Qué estás buscando?">
        </form>
        <nav>
            <button class="burger-menu_header"> <i class="fas fa-bars"></i></button>
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </nav>
        
    </header>
    
</body>
</html>