<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Inicio</title>
        <link rel="icon" href="/img/favicon.ico"/>  
        <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto&display=swap" rel="stylesheet">
        
    </head>
<body>
    <main>
        <img class="icono-fijo" src="/img/icon-whasap2.png" alt="">
        <section class="section_productos">
            <h3 class="titulo-carrusel">NOVEDADES</h3>
            <article class="carrusel">  
              <img src="/img/estabilizador 1.png" alt="">
              <img src="/img/estabilizador2.png" alt="">
              <img src="/img/estabilizador3.png" alt="">
              <img src="/img/estabilizador4.png" alt="">
            </article>
            <h3 class="titulo-carrusel">ARTICULOS</h3>
            <article class="container-articulos">
                
                    <article class="article_productos">
                        <a class="main-enlace" href="/productDetail">
                        <img class="imagen-producto" src="/img/estabilizador4.png" alt="foto-producto">
                        <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                        <h3 class="h3-precio">$ 50.000</h3>
                    </a>
                </article>
                
                    <article class="article_productos">
                        <a href="/productDetail" class="main-enlace">
                        <img class="imagen-producto" src="/img/estabilizador 1.png" alt="foto-producto">
                        <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                        <h3 class="h3-precio">$ 50.000</h3>
                    </a>
                    </article>
                
                
                    <article class="article_productos">
                        <a href="/productDetail" class="main-enlace">
                        <img class="imagen-producto" src="/img/estabilizador3.png" alt="foto-producto">
                        <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                        <h3 class="h3-precio">$ 50.000</h3>
                    </a>
                    </article>
                
                
                    <article class="article_productos">
                        <a href="/productDetail" class="main-enlace">
                        <img class="imagen-producto" src="/img/estabilizador2.png" alt="foto-producto">
                        <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                        <h3 class="h3-precio">$ 50.000</h3>
                    </a>
                    </article>
                

            </article>

            <h3 class="titulo-carrusel">VER MAS</h3>
            <article class="article_publicidad">
                <img class="imagen_publicidad" src="/img/minibanner1-10-06-22.png" alt="logo publicidad">

                <img class="imagen_publicidad" src="/img/minibanner2-28-06-22.png" alt="logo publicidad">

                <img class="imagen_publicidad" src="/img/minibanner3-10-06-22.png" alt="logo publicidad">
            </article>
            
        </section>
    </main>
     <footer class="footer-father">
        <div class="footer-texto-top">
            <div class="footer-redes-sociales">
                <h3>seguinos</h3>
                <img src="/img/redesSociales.png" alt="logo-redes-sociales">
            </div>
            <div class="footer-logo">
                <h2>UPSTABLES</h2>
                <p>Proteccion para tu tecnologia,garantizada</p>
            </div>
            <div class="footer-institucional">
                <h3>INSTITUCIONALES</h3>
                <ul>
                    <li>Quienes Somos</li>
                    <li>Politica de Privacidad</li>
                    <li>Termino y condiciones</li>
                </ul>
            </div>
        </div>
        <div class="footer-texto-center">
            <ul>
                <li>Copyright © 2023</li>
                <li>UPSTABLES S.A.</li>
            </ul>

    
        </div>
        <div class="footer-texto-bottom">
            <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de upstables S.A.. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en https://upstables.com  son válidos exclusivamente para la compra vía internet en las páginas antes mencionadas</p>
    
        </div>
    </footer>
</body>
</html>