<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        
    </header>
    <main>
        <section class="section_productos">
            <h3 class="titulo-carrusel">NOVEDADES</h3>
            <article class="article_carrusel">
                <div class="div-Carrusel-Padre" id="conteItemsCarrusel">
                    <div class="itemCarrusel" id="itemCarrusel-1">
                        <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
                            <img class="imagen1-carrusel" src="estabilizador1 1.png" alt="">
                        </div>
                        <div class="flechasCarrusel">
                            <a href="#tarjetaCarrusel-3">
                                <i>I</i>
                                
                            </a>
                            <a href="#tarjetaCarrusel-2">
                                <i>D</i>
                            </a>
                        </div>
                    </div>
                    <div class="itemCarrusel" id="itemCarrusel-2">
                        <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
                            <img class="imagen1-carrusel" src="estabilizador2 1.png" alt="">
                        </div>
                        <div class="flechasCarrusel">
                            <a href="#tarjetaCarrusel-1">
                                <i>I</i>
                            </a>
                            <a href="#tarjetaCarrusel-3">
                                <i>D</i>
                            </a>
                        </div>
                    </div>
                    <div class="itemCarrusel" id="itemCarrusel-3">
                        <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
                            <img class="imagen1-carrusel" src="estabilizador1 1.png" alt="">
                        </div>
                        <div class="flechasCarrusel">
                            <a href="#tarjetaCarrusel-2">
                                <i>I</i>
                            </a>
                            <a href="#tarjetaCarrusel-1">
                                <i>D</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="contePuntos">
                    <a href="#tarjetaCarrusel-1">·</a>
                    <a href="#tarjetaCarrusel-2">·</a>
                    <a href="#tarjetaCarrusel-3">·</a>
                    
                </div>
            </article>
            <h3 class="titulo-carrusel">ARTICULOS</h3>
            <article class="article_productos">
                <img src="estabilizador1 1.png" alt="foto-producto">
                <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                <h3 class="h3-precio">$ 50.000</h3>
            </article>
            <article class="article_productos"></article>
            <article class="article_productos">
                <img src="estabilizador2 1.png" alt="foto-producto">
                <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                <h3 class="h3-precio">$ 50.000</h3>
            </article>
            <article class="article_productos"></article>
            <article class="article_productos">
                <img src="estabilizador1 1.png" alt="foto-producto">
                <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                <h3 class="h3-precio">$ 50.000</h3>
            </article>
            <article class="article_productos"></article>
            <h3 class="titulo-carrusel">VER MAS</h3>
            <article class="article_publicidad">
                <img class="img-minibanner1" src="minibanner1-10-06-22.png" alt="">
            </article>
            
        </section>
    </main>
    <footer class="footer-father">
        <div class="footer-texto-top">
            <div class="footer-redes-sociales">
                <h3>seguinos</h3>
                <img src="/img/redesSociales.png" alt="logo-redes-sociales">
            </div>
            <div class="footer-logo">
                <h2>UPSTABLES</h2>
                <p>Proteccion para tu tecnologia,garantizada</p>
            </div>
            <div class="footer-institucional">
                <h3>INSTITUCIONALES</h3>
                <ul>
                    <li>Quienes Somos</li>
                    <li>Politica de Privacidad</li>
                    <li>Termino y condiciones</li>
                </ul>
            </div>
        </div>
        <div class="footer-texto-center">
            <ul>
                <li>Copyright © 2023</li>
                <li>UPSTABLES S.A.</li>
            </ul>

    
        </div>
        <div class="footer-texto-bottom">
            <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de upstables S.A.. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en https://upstables.com  son válidos exclusivamente para la compra vía internet en las páginas antes mencionadas</p>
    
        </div>
    </footer>
    
</body>
</html>