<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Carrito</title>
    <link rel="icon" href="/img/favicon.ico"/>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>
        <a class="link_to_home_header" href="/">
            <img class="logo_header" src="/img/logo_upstables.jpg" alt="logo_upstables">
                <div class="titular">
                    <h1 class="titulo">UPSTABLES</h1>
                    <p class="subtitulo">Proteccion para tu tecnología, garantizada.</p>
                </div>
               
        
        </a>
        <div class="buscador_header">
            <form >
                <input type="text" name="buscador" placeholder="¿Qué estás buscando?">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
           
        </div>
        
        <nav class="nav_header">
             <i class="fas fa-bars"></i>

            
            <a href="/registro"> 
            <p class="texto_nav">Creá tu cuenta</p> 
            <i class="fa-solid fa-pen"></i>
            </a>

            
            <a href="/login"> 
                <p class="texto_nav">Ingresar</p> 
                <i class="fa-solid fa-user"></i>
            </a>
            
            
            <a href="/productCart"> 
                <p class="texto_nav">Carrito</p> 
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

            
        </nav>
        <div class="on-off">
            <i class="fa-solid fa-toggle-off"></i>
        </div>
        
    </header>
    <nav class="nav_header_2">
        <h4>UPS</h4>
        <div class="linea"></div>
        <h4 class="estab_nav">ESTABILIZADORES</h4>
        <div class="linea"></div>
        <h4>OFERTAS</h4>
    </nav>
    <main>
        <section class="main_caja_padre_compra">
            <h1 class="titulo_carrito">Carrito</h1>
            <section class="main_caja_hija_detalle_compra">
                <article class="fondo_de_articulo">
                        <img class="img_producto_de_compra" src="/img/estabilizador 1.png" alt="Producto" width="100%" height="20%">
                        <p class="carrito_p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F
                        </p>
                        <h3 class="carrito_h3-precio">$ 50.000</h3>
                    <div class="div_contador">
                        <div class="div_contador_icons">
                            <div>
                                <button class="boton_sumador"><i class="fa-solid fa-plus"></i></button>
                                <input type="number" name="contador_del_producto" min="0" max="1000" class="imput_contador">
                                <button class="boton_de_resta"><i class="fa-solid fa-minus"></i></button>
                            </div>
                            <i class="fa-solid fa-trash icon_tacho"></i>
                        </div>
                        <h3 class="precio"> $ 50.000</h3>
                    </div>     
                </article>
                <article class="fondo_de_articulo">
                    <img class="img_producto_de_compra" src="/img/estabilizador 1.png" alt="Producto" width="100%" height="20%">
                    <p class="carrito_p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F
                    </p>
                    <h3 class="carrito_h3-precio">$ 50.000</h3>
                <div class="div_contador">
                    <div class="div_contador_icons">
                        <div>
                            <button class="boton_sumador"><i class="fa-solid fa-plus"></i></button>
                            <input type="number" name="contador_del_producto" min="0" max="1000" class="imput_contador">
                            <button class="boton_de_resta"><i class="fa-solid fa-minus"></i></button>
                        </div>
                        <i class="fa-solid fa-trash icon_tacho"></i>
                    </div>
                    <h3 class="precio"> $ 50.000</h3>
                </div>     
            </article>
            </section>
            <section class="main_caja_hija_detalle_articulos">
                <article class="border_de_la_caja">
                    <div>
                        <h2 class="listado_de_articulo">hay 2 aticulos en su carrito</h2>
                    </div>

                    <div  class="listado_de_articulo_precios">
                        <h3 class="subtotal"> subtotal</h3>
                        <h3 class="sub-precio">$000000</h3>
                        <h3 class="transporte">transporte</h3>
                        <h3 class="condiciones">(bajo condiciones)</h3>
                        <div class="border">
                            <h3 class="total">total(IVA inc.)</h3>
                        </div>
                        <h3 class="sub-precio_1">$000000</h3>
                    </div>
                    <div>
                        <button class="boton_finalizar_compra" >finalizar compra </button>

                    </div>
                </article>    
            </section>
            <a href="/" class="boton_continuar_comprando">
                <i class="fa-solid fa-house"> </i>
                <h3>Continuar comprando</h3>
            </a>
        </section>
        <h3 class="advertencia_texto tamaño_de_texto">¡El pedido solo se confirmará al hacer click en el botón 'Pedido con
                obligación de pago' en la última
                parte del proceso de compra!
        </h3>
        <div class="centrar_el_botonon">
            <button class="boton_imprimir_pdf">Imprimir carrito en PDF</button>
        </div>
    </main>
    <footer class="footer-father">
        <div class="footer-texto-top">
            <div class="footer-redes-sociales">
                <h3>seguinos</h3>
                <img src="/img/redesSociales.png" alt="logo-redes-sociales">
            </div>
            <div class="footer-logo">
                <h2>UPSTABLES</h2>
                <p>Proteccion para tu tecnologia,garantizada</p>
            </div>
            <div class="footer-institucional">
                <h3>INSTITUCIONALES</h3>
                <ul>
                    <li>Quienes Somos</li>
                    <li>Politica de Privacidad</li>
                    <li>Termino y condiciones</li>
                </ul>
            </div>
        </div>
        <div class="footer-texto-center">
            <ul>
                <li>Copyright © 2023</li>
                <li>UPSTABLES S.A.</li>
            </ul>
        </div>
        <div class="footer-texto-bottom">
            <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de
                Privacidad de upstables S.A.. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos
                publicados está sujeta a la verificación de stock. Los precios online para los productos
                presentados/publicados en https://upstables.com son válidos exclusivamente para la compra vía internet
                en las páginas antes mencionadas</p>

        </div>
    </footer>


</html>