<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <img class="logo_header" src="/img/logo_upstables.jpg" alt="logo_upstables">
            <h1 class="titular">UPSTABLES</h1>
            <form class="buscador_header">
                <input type="text" name="buscador" placeholder="¿Qué estás buscando?">
            </form>
            <nav class="nav_header">
                 <i class="fas fa-bars"></i>
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </nav>
            
        </header>
        hola
    </main>
</body>
</html>