<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Carrito</title>
</head>

<body>
    <header>
        <img class="logo_header" src="/img/logo_upstables.jpg" alt="logo_upstables">
        <div class="titular">
            <h1 class="titulo">UPSTABLES</h1>
            <p class="subtitulo">Proteccion para tu tecnología, garantizada.</p>
        </div>
        <div class="buscador_header">
            <form >
                <input type="text" name="buscador" placeholder="¿Qué estás buscando?">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
           
        </div>
        
        <nav class="nav_header">
             <i class="fas fa-bars"></i>

            <i class="fa-solid fa-pen"></i>
           <a href="/register"> <p class="texto_nav">Creá tu cuenta</p> </a>

            <i class="fa-solid fa-user"></i>
            <a href="/login"> <p class="texto_nav">Ingresar</p> </a>
            
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/productCart"> <p class="texto_nav">Carrito</p> </a>
        </nav>
        
    </header>
    <nav class="nav_header_2">
        <h4>UPS</h4>
        <div class="linea"></div>
        <h4 class="estab_nav">ESTABILIZADORES</h4>
        <div class="linea"></div>
        <h4>OFERTAS</h4>
    </nav>

    <main class="main_cuerpo_carrito">
        <i class="fa-solid fa-toggle-off eligir_modo_off fondo_main"></i>
        <img src="/img/images 2.png" alt=" imagen del carrito de compra" width="50%" height="20%"
            class="imagen-del-carrito">
        <section class="fondo-del-producto">
            <article class="separacion_de_article">
                    <div>
                        <img class="img_3" src="/img/estabilizador 1.png" alt="Producto" width="100%" height="20%">
                        <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                        <h3 class="h3-precio">$ 50.000</h3>
                    </div>
                    <article class="contador">
                        <div class="div_contador_del_producto">
                                <button class="boton_sumador"><i class="fa-solid fa-plus"></i></button>
                           <input type="number" name="contador_del_producto" min="0" max="1000" class="imput_contador">
                                <button class="boton_de_resta"><i class="fa-solid fa-minus"></i></button>
                           <i class="fa-solid fa-trash icon_tacho"></i>
                           <h3 class="precio"> $ 50.000</h3>
                        </div>
                    </article>
            </article>
        </section>
        <section class="fondo-del-producto">
            <article class="separacion_de_article">
                <div>
                    <img class="img_4" src="/img/estabilizador3.png" alt="Producto" width="100%" height="20%">
                    <p class="p-detalle-producto">Estabilizador De Tensión Trv - Micro Volt L - 1200va(pico) F</p>
                    <h3 class="h3-precio">$ 60.000</h3>
                    <article class="contador">
                        <div class="div_contador_del_producto">
                            <button class="boton_sumador"><i class="fa-solid fa-plus"></i></button>
                            <input type="number" name="contador_del_producto" min="0" max="1000" class="imput_contador">
                            <button class="boton_de_resta"><i class="fa-solid fa-minus"></i></button>
                            <i class="fa-solid fa-trash icon_tacho"></i>
                            <h3 class="precio"> $60.000</h3>
                        </div>
                    </article>
                </div>
            </article>
        </section>
        <section class="section_info_carrito">
            <h2>hay 2 aticulos en su carrito</h2>
            <div class="caja_contenedora">
                <div>
                    <h3 class="subtotal"> subtotal</h3>
                    <h3 class="sub-precio">$000000</h3>
                </div>
                <h3 class="transporte">transporte</h3>
                <h3 class="condiciones">(bajo condiciones)</h3>
                <h3 class ="articulos_precio_final">$000000</h3>
                <div class="border"></div>
                <h3 class="total">total(IVA inc.)</h3>
                <button class="boton_finalizar_compra">finalizar compra ^</button>
            </div>
        </section>
            <a href="/"  class="boton_continuar_comprando">
                <i class="fa-solid fa-house"> </i>
                <h3>Continuar comprando</h3>
            </a>
        <article class="advertencia">
            <h3 class="advertencia_texto">¡El pedido solo se confirmará al hacer click en el botón 'Pedido con obligación de pago' en la última
                parte del proceso de compra!
            </h3>
        </article>
        <button class="boton_imprimir_pdf">Imprimir carrito en PDF</button>
    </main>
    <footer class="footer-father">
        <div class="footer-texto-top">
            <div class="footer-redes-sociales">
                <h3>seguinos</h3>
                <img src="/img/redesSociales.png" alt="logo-redes-sociales">
            </div>
            <div class="footer-logo">
                <h2>UPSTABLES</h2>
                <p>Proteccion para tu tecnologia,garantizada</p>
            </div>
            <div class="footer-institucional">
                <h3>INSTITUCIONALES</h3>
                <ul>
                    <li>Quienes Somos</li>
                    <li>Politica de Privacidad</li>
                    <li>Termino y condiciones</li>
                </ul>
            </div>
        </div>
        <div class="footer-texto-center">
            <ul>
                <li>Copyright © 2023</li>
                <li>UPSTABLES S.A.</li>
            </ul>
        </div>
        <div class="footer-texto-bottom">
            <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de upstables S.A.. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en https://upstables.com  son válidos exclusivamente para la compra vía internet en las páginas antes mencionadas</p>
    
        </div>
    </footer>


</html>