<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    

        <header>
            <img class="logo_header" src="/img/logo_upstables.jpg" alt="logo_upstables">
            <h1 class="titular">UPSTABLES</h1>
            <form class="buscador_header">
                <input type="text" name="buscador" placeholder="¿Qué estás buscando?">
            </form>
            <nav class="nav_header">
                 <i class="fas fa-bars"></i>
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </nav>
            
        </header>

    <main>

        
        <i class="fa-solid fa-toggle-off"></i>
        <section class="producto">
            <article class="fotos_producto">
                <div class="fotos_extras">
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-solid fa-plus"></i>
                </div>
               
            </article>
            <img  class="producto_img" src="/img/ups_img.jpg" alt="foto_ups">
            <article class="info_producto">
                <h3 class="nombre_producto">CTB - 800VA [DISPLAY]</h3>
                <div class="marca_producto">
                    <strong>Marca:</strong> 
                    <p>LYONN</p>
                </div>
                <p class="precio_producto">$111111111</p>
                
                <div class="unidades">
                    <i class="fa-solid fa-minus"></i>
                    <p>1 unidad</p>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="stock_disponible">
                    <i class="fa-solid fa-check"></i>
                    <p>Stock Disponible</p>
                </div>
                <div class="comprar_producto">
                    <p>Comprar Producto</p>
                </div>
                <div class="agregar_carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Agregar al Carrito</p>
                </div>
            </article>
           

        </section>

        <article class="descripcion_producto">
            <p>Descripción</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam neque explicabo minima pariatur accusantium cupiditate, atque reprehenderit! Eveniet iste dicta laborum, assumenda similique illo dignissimos praesentium consectetur magni adipisci quam.</p>
        </article>

        <section class="intereses">
            <h3>También podría interesarte</h3>
            <article>
                <div class="productos_relacionados">
                    <img src="/img/ups6kva_img.jpg" alt="img-producto">
                    <h4>ULT - 6KVA</h4>
                    <p>$11111111</p>
                </div>
                <div class="productos_relacionados">
                    <img src="/img/ups6kva_img.jpg" alt="img-producto">
                    <h4>ULT - 6KVA</h4>
                    <p>$11111111</p>
                </div>
                <div class="productos_relacionados">
                    <img src="/img/ups6kva_img.jpg" alt="img-producto">
                    <h4>ULT - 6KVA</h4>
                    <p>$11111111</p>
                </div>
            </article>
        </section>
       

    </main>
</body>
</html>