main, footer {
    border: 0;
    padding: 0;
    margin: 0;
  }
main{
    background-image: url("/img/circuit_bg 14.png");
    background-color: #D1D4DE;
   

}
.icono-fijo{
    position:fixed;
    bottom: 30px;
    right: 30px;
    width: 10%;
    cursor: pointer;
    z-index: 2;
}
.section_productos{
    
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.titulo-carrusel{
    display: block;
    border-bottom: 4px solid rgb(9, 245, 213);
    text-align: center;
    margin-bottom: 10px;
    
}

.article_productos{
    
    background-color: white;
    margin-bottom: 10px;
   
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.article_productos:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: rgba(33,33,33,0.3);
    color: white;
    transform: scale(1.01);
    transition: background-color 2.5s, color 1s,transform 1s;
    
}
.article_productos h3{
    opacity: 0;
}
.article_productos:hover h3{
    opacity: 100;
    background-color:rgb(33, 33, 33);
    color: #ffff ;
    transition: background-color 2.5s,color 2s;
    
}

/*---------- Media Query para Movil -----------------*/

@media(min-width:320px){
    .p-detalle-producto {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    .h3-precio{
        font-size: 50px;
        color: blue;
    }
    
    .imagen_publicidad{
        width: 100%;
    }
    .imagen-producto{
        width: 100%;
    }
    .article_publicidad{
        width: 100%;
        display: flex;
        flex-direction:column;
        gap: 10px;
        margin: 0 auto;
        cursor: pointer;
    }

}

/*---------- Media Query para Tablet -----------------*/

@media(min-width:768px){
    .container-articulos{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .article_productos{
        width: 45%;
    }
    .article_publicidad{
        width: 50%;
    }
    
    .carrusel{
        width: 60%;
        margin: 0 auto;
    }
}

/*---------- Media Query para Desktop -----------------*/

@media(min-width:1024px){
  
    .icono-fijo{
        width: 5%;
    }
    .article_productos{
        width: 24%;
        
    }
    .article_publicidad{
        width: 30%;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        margin: 0 auto;
       
    }
    
    .carrusel{
        width: 40%;
        margin: 0 auto;
    }

   
}
