.fondo_main {
    background-image: url(/img/circuit_bg\ 1\ \(1\).png);
    width: 100%;
    background-repeat: no-repeat;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.eligir_modo_off {
    font-size: 57px;
    margin-left: 72%;
}
section img {
    margin: 10px;
}
main section article div {
    background-color: var(--color-gris);
    height: 30%;
    width: 70%;
    margin-left: 15%;
    border: 1px solid #ffffff;
}
.img_3 {
    width: 90%;
}
.img_4 {
    width: 83%;
    box-shadow: inset 0 0 0 17px #d1d4de;
}
.separacion_de_article{
    margin-top: 1px;
}
.contador{
    display: revert;
}
.contador_producto_01 {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.precio {
    font-size: 25px;
    margin-top: 10px;
}
p {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-bottom: 10px;
}
.section_info_carrito{
    background-color: var(--color-gris);
    height: 30%;
    width: 70%;
    margin-left: 15%;
    border: 1px solid #ffffff;
    margin-top: 22px;
}
.section_info_carrito h2 {
    background-color: #2DD4DA;
    border: 1px solid #000000;
    font-size: 22px;
    padding: 20px;
    text-align: center;
}
.caja_contenedora{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}