.titulo_carrito {
    position: absolute;
    top: 1%;
    left: 2%;
    font-size: 40px;
}
.main_caja_padre_compra {
    position: relative;
    padding-top: 20%;

}
.main_caja_hija_detalle_compra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 0%;
}
.fondo_de_articulo {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1% 0%;
    border: 1px solid #ffffff;
    background-color: var(--color-gris);
    transition: all 450ms;
    box-shadow: 0px 0px 0px rgb(100, 100, 100); 
}
.fondo_de_articulo:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.img_producto_de_compra {
    width: 50%;
    margin: auto;
}
.carrito_p-detalle-producto {
    text-align: center;
    font-size: 22px;
    margin: 0% auto;
    font-weight: bold;
}
.carrito_h3-precio {
    text-align: center;
    padding: 5px 0px;
    font-size: 22px;
    color: blue;
}
.carrito_contador {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.div_contador_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imput_contador{
    width: 50%;
    text-align: center;
}
.boton_sumador{
    height: 5vh;
    width: 20px;
    border-radius: 5px;
    background-color: black;
    color: #ffffffff;
}
.boton_de_resta{
    height: 5vh;
    width: 20px;
    border-radius: 5px;
    background-color: black;
    color: #ffffffff;
}
.icon_tacho {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.icon_tacho:hover {
    transform: scale3d(1.2, 1.2, 1.2); 
    cursor: pointer;
}
.fa-trash:before {
    content: "\f1f8";
    font-size: 24px;
}
.precio {
    padding: 3% 0%;
    font-size: 18px;
    width: 96%;
    text-align: center;
}
.main_caja_hija_detalle_articulos{
    border: 1px solid #ffffff; 
    width: 80%;
    height: 88vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1% auto;
}
.listado_de_articulo_precios {
    /* border: 4px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 65vh;
    background-color: var(--color-gris);
    padding: 5%;
}

.listado_de_articulo {
    border: 1px solid;
    background-color: var(--color-verde_agua);
    text-align: center;
}
.subtotal {
    font-size: 24px;
    width: 47%;
}
.sub-precio {
    width: 53%;
    font-size: 24px;
}
.transporte {
    width: 54%;
    font-size: 24px;
}
.condiciones {
    width: 87%;
    font-size: 24px;
}
.border {
    border-top: 1px solid black;
    width: 95%;
    padding-top: 8%;
}
.total {
    font-size: 24px;
    width: 70%;
}
.sub-precio{
    font-size: 24px;
}
.boton_finalizar_compra {
    background-color: var(--color-celeste);
    height: 6vh;
    font-size: 20px;
    margin: 3% 3%;
    border-radius: 5px;
    width: 95%;
    transition: all 450ms;
}

.boton_finalizar_compra:hover {
    transform: scale(1.02); 
    cursor: pointer;
}
.boton_continuar_comprando {

    text-decoration: none;
    font-weight: bold;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    align-items: center;
    width: 80%;
    background-color: #000000;
    color: #ffffff;
    height: 10vh;
    transition: all 450ms;
}
.boton_continuar_comprando:hover {
    transform: scale(1.02); 
    cursor: pointer;
}
.boton_continuar_comprando p {
    padding-left: 10px;
}
.advertencia_texto {
    background-color: var(--color-verde_agua);
    width: 80%;
    height: 53vh;
    margin: auto;
    padding: 20px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}
.centrar_el_botonon{
    text-align: center;
}
.boton_imprimir_pdf {
    background-color: var(--color-gris);
    width: 80%;
    height: 6vh;
    margin: 3% 0%;
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 450ms;
}

.boton_imprimir_pdf:hover { 
    background-color: #575757;
    cursor: pointer;
}

@media(min-width:768px){
    .titulo_carrito {
    position: absolute;
    top: 6%;
    left: 2%;
    font-size: 40px;
    }
    .main_caja_padre_compra {
        /* border: 2px solid red;  */
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20%;
        position: relative;
    }
    .fondo_de_articulo {
        border: 1px solid #ffffff;
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0.5% 0%;
    } 
    .img_producto_de_compra {
        width: 15%;
        margin: 0%;
    }
    .carrito_p-detalle-producto {
        text-align: center;
        font-size: 18px;
        margin: 0%;
        width: 40%;
    }
    .carrito_h3-precio {
        text-align: center;
        padding: 0px;
        font-size: 22px;
        width: 15%;
    }
    .div_contador_icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .precio {
        padding: 2% 0%;
        font-size: 18px;
        margin-top: 2%;
    }
    .boton_sumador {
        height: 4vh;
        width: 25px;
        border-radius: 5px;
        background-color: black;
        color: #ffffffff;
    }
    .boton_de_resta {
        height: 4vh;
        width: 25px;
        border-radius: 5px;
        background-color: black;
        color: #ffffffff;
    }
    .imput_contador {
        width: 35%;
        text-align: center;
    }
    .fa-trash:before {
        content: "\f1f8";
        font-size: 30px;

    }
    .main_caja_hija_detalle_articulos {
        border: 1px solid #ffffff;
        width: 90%;
        height: 88vh;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 1% auto;
    }
    .listado_de_articulo_precios {
        /* border: 4px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 65vh;
        background-color: var(--color-gris);
        padding: 1%;
    }
    .listado_de_articulo {
        border: 1px solid;
        background-color: var(--color-verde_agua);
        text-align: center;
        height: 13vh;
        padding: 2%;
    }
    .subtotal {
        font-size: 24px;
        width: 25%;
    }
    .sub-precio {
        font-size: 24px;
        width: 74%;
        text-align: right;
    }
    .transporte {
        width: 30%;
        font-size: 24px;
    }
    .condiciones {
        width: 71%;
        font-size: 24px;
        text-align: left;
        margin-left: 6%;
    }
    .border {
        border-top: 1px solid black;
        width: 95%;
        padding-top: 8%;
        text-align: center;
        margin-left: 3%;
    }
    .total {
        font-size: 24px;
        width: 30%;
    }
    .sub-precio_1{
        font-size: 24px;
        width: 98%;
        text-align: right;
    }
    .boton_finalizar_compra {
        background-color: var(--color-celeste);
        height: 8vh;
        font-size: 20px;
        margin: 0% 0%;
        border-radius: 5px;
        width: 95%;
    }
    .boton_continuar_comprando {
        text-decoration: none;
        font-weight: bold;
        margin: 3% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        height: 30px;
        align-items: center;
        width: 90%;
        background-color: #000000;
        color: #ffffff;
        height: 10vh;
    }
    .advertencia_texto {
        background-color: var(--color-verde_agua);
        width: 90%;
        height: 30vh;
        margin: auto;
        padding: 20px;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
    .boton_imprimir_pdf {
        background-color: var(--color-gris);
        width: 90%;
        height: 8vh;
        margin: 3% 0%;
        font-size: 22px;
        text-align: center;
        border-radius: 5px;
    }  
}
@media (min-width: 1024px) {
    .main_caja_padre_compra {
        /* border: 2px solid red; */
        text-align: center;
        padding-top: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px 0;
    }
    .main_caja_hija_detalle_compra {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0% 0%;
        width: 60%;
    }
    .fondo_de_articulo {
        border: 1px solid #ffffff;
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0.5% 0%;
        height: 40vh;
    }
    .img_producto_de_compra {
        width: 18%;
        margin: 0%;
        height: 28vh;
    }
    .carrito_p-detalle-producto {
        text-align: center;
        font-size: 24px;
        margin: 0%;
        width: 30%;
    }
    .carrito_h3-precio {
        text-align: center;
        padding: 0px;
        font-size: 20px;
        width: 14%;
    }
    .div_contador_icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin-bottom: 0%;
    }
    .boton_sumador {
        height: 6vh;
        width: 25px;
        border-radius: 5px;
        background-color: black;
        color: #ffffffff;
    }
    .boton_de_resta {
        height: 6vh;
        width: 25px;
        border-radius: 5px;
        background-color: black;
        color: #ffffffff;
    }
    .imput_contador {
        width: 35%;
        height: 6vh;
        text-align: center;
        font-size: 18px;
    }
    .fa-trash:before {
        content: "\f1f8";
        font-size: 40px;
    }
    .precio {
        padding: 2% 0%;
        font-size: 20px;
        margin-top: 21%;
    }
    .main_caja_hija_detalle_articulos {
        width: 37%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        height: 1vh;
    }
    .border_de_la_caja {
        height: 98vh;
        border: 1px solid #ffffff;
    }
    .listado_de_articulo {
        border: 1px solid;
        background-color: var(--color-verde_agua);
        text-align: center;
        height: 13vh;
        padding: 6%;
    }
    .listado_de_articulo_precios {
        /* border: 1px solid #ffffff; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 71vh;
        background-color: var(--color-gris);
        padding: 2%;
    }
    .subtotal {
        font-size: 24px;
        width: 38%;
    }
    .sub-precio {
        font-size: 24px;
        width: 57%;
        text-align: right;
    }
    .transporte {
        width: 45%;
        font-size: 24px;
    }
    .condiciones {
        width: 71%;
        font-size: 24px;
        text-align: left;
        margin-left: 6%;
    }
    .border {
        border-top: 1px solid black;
        width: 95%;
        padding-top: 8%;
        text-align: center;
        margin-left: 3%;
    }
    .total {
        font-size: 24px;
        width: 48%;
    }
    .sub-precio_1 {
        font-size: 24px;
        width: 96%;
        text-align: right;
    }
    .boton_finalizar_compra {
        background-color: var(--color-celeste);
        height: 6vh;
        font-size: 20px;
        margin: 3% 0%;
        border-radius: 5px;
        width: 95%;
    }
    .boton_continuar_comprando {
        /* text-decoration: none; */
        /* font-weight: bold; */
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        border-radius: 5px;
        height: 30px;
        align-items: center;
        width: 23%;
        background-color: #000000;
        color: #ffffff;
        height: 10vh;
        margin-left: 27px;
        /* margin-right: 2%; */
    }
    .advertencia_texto {
        background-color: var(--color-verde_agua);
        width: 95%;
        height: 12vh;
        margin: auto;
        padding: 8px;
        font-size: 25px;
        line-height: 31px;
        text-align: center;
    }
    .boton_imprimir_pdf {
        background-color: var(--color-gris);
        width: 95%;
        height: 8vh;
        margin: 3% 0%;
        font-size: 22px;
        text-align: center;
        border-radius: 5px;
    }
}

