.eligir_modo_off {
    font-size: 57px;
    margin-left: 72%;
}
.boton_imprimir_pdf{
    background-color:var(--color-gris);
    width: 69vw;
    height: 5vh;
    margin: 15px 0px 15px 49px;
    border-radius: 5px;
}
.boton_contador {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-bottom: 10px;
}
.advertencia {
    background-color:var(--color-verde_agua);
    width: 47vh;
    margin: auto;
    padding: 18px;
    font-size: 20px;
    line-height: 28px;
}
.contador_producto_01 {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.boton_continuar_comprando {
    background-color: black;
    color: #ffffff;
    width: 69vw;
    height: 11vh;
    border-radius: 5px;
    margin: 10px 0px 10px 50px;
    text-decoration:none ;
}

.main_cuerpo_carrito {
    display: flex;
    flex-direction: column;
    text-align: center;
}    
.imagen-del-carrito{
margin: 10px 0px 10px 80px;
}
.fondo-del-producto {
background-color: var(--color-gris);
height: 30%;
width: 70%;
margin: 10px 0px 0px 48px;
border: 1px solid #ffffff;
}
.img_3 {
width: 90%;
}
.img_4 {
width: 90%;;
}
.separacion_de_article{
margin-top: 1px;
}
.contador{
display: revert;
}
.section_info_carrito{
background-color: var(--color-gris);
height: 30%;
width: 70%;
margin-left: 15%;
border: 1px solid #ffffff;
margin-top: 22px;
}
.section_info_carrito h2 {
background-color: #2DD4DA;
border: 1px solid #000000;
font-size: 22px;
padding: 20px;
text-align: center;
}
.caja_contenedora {
display: flex;
flex-direction: column;
flex-wrap: wrap;
position: relative;
padding: 15px;
}
.subtotal {
    position: absolute;
}

.condiciones {
margin: 10px 30px 10px 0px;
}
.border {
border-bottom: 1px solid black;
}
.total{
margin: 10px 0px 10px 82px;
}
.boton_finalizar_compra {
background-color:var(--color-celeste);
border-radius: 5px;
height: 40px;
text-align: center;
}
.div_contador_del_producto {
margin-bottom: 10px;
}
.boton_sumador {
height: 27px;
width: 22px;
border-radius: 5px;
background-color: black;
color: #ffffffff;
}
.boton_de_resta {
margin-right: 38%;
height: 27px;
width: 22px;
border-radius: 5px;
background-color: black;
color: #ffffffff;
}
.fa-trash:before {
content: "\f1f8";
font-size: 25px;
}
.imput_contador {
width: 15%;
height: 25px;
text-align: center;
}
.sub-precio{
     margin-left: 64%;
}
.transporte{
    margin-right: 50%;
}
.precio {
    font-size: 25px;
    margin-top: 10px;
}
/*---------- Media Query para tablet -----------------*/

@media(min-width:768px){
    .eligir_modo_off {
        font-size: 70px;
        margin-left: 83%;
    }
    .imagen-del-carrito {
        margin: 20px 192px 60px 192px;
    }
    .fondo-del-producto {
        background-color: var(--color-gris);
        height: 59vh;
        width: 90%;
        margin: 01% 4%;
        border: 1px solid #ffffff;
        position: relative;
    }
    .img_3 {
        width: 50%;
        height: 33vh;
        position: absolute;
        left: 4%;
        top: 3%;
    }
    .p-detalle-producto {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 60%;
        right: 37%;
        width: 67%;
    }
    .h3-precio {
        font-size: 50px;
        color: blue;
        position: absolute;
        top: 82%;
        left: 15%;
    }
    .div_contador_del_producto {
        margin-bottom: 10px;
        top: 24%;
        right: 10%;
        position: relative;
    }
    .boton_de_resta {
        height: 7vh;
        width: 9%;
        border-radius: 5px;
        background-color: black;
        color: #ffffffff;
        position: absolute;
        left: 96%;
        top: 20vh;
    }
    .imput_contador {
        /* width: 9vw; */
        height: 7vh;
        text-align: center;
        width: 11%;
        position: absolute;
        top: 20vh;
        right: 4%;
    }
    .boton_sumador {
        height: 7vh;
        width: 8vw;
        border-radius: 5px;
        background-color: black;
        color: #ffffffff;
        position: absolute;
        top: 20vh;
        left: 76%;
    }
    .fa-trash:before {
        content: "\f1f8";
        font-size: 44px;
        position: absolute;
        top: 33vh;
        right: 7%;
    }
    .precio {
        font-size: 25px;
        margin-top: 10px;
        position: absolute;
        top: 45vh;
        right: 4%;
    }
    .img_4 {
        width: 50%;
        height: 33vh;
        position: absolute;
        left: 4%;
        top: 3%;
    }
    .section_info_carrito {
        background-color: var(--color-gris);
        height: 101vh;
        width: 90%;
        margin: 1% 4%;
        border: 1px solid #ffffff;
        margin-top: 22px;
    }
    .section_info_carrito h2 {
        background-color: #2DD4DA;
        border: 1px solid #000000;
        font-size: 30px;
        padding: 38px;
        text-align: center;
        height: 21vh;
    }
    .caja_contenedora {
        display: flex;
        padding: 15px;
        flex-direction: column;
        position: relative;
    }
    .subtotal {
        position: absolute;
        left: 11vw;
        font-size: 24px;
    }
    .sub-precio {
        margin-left: 45vw;
        font-size: 24px;
    }
    .transporte {
        position: absolute;
        top: 15vh;
        left: 11vw;
        font-size: 24px;
    }
    .condiciones {
        position: absolute;
        top: 29vh;
        left: 11vw;
        font-size: 24px;
    }
    .border {
        border-bottom: 1px solid black;
        margin: 32vh 0vw 0vh 0vw;
    }
    .articulos_precio_final{
        position: absolute;
        top: 43vh;
        left: 62vw;
        font-size: 24px;
    }
    .total {
        position: absolute;
        top: 57vh;
        left: 11vw;
        font-size: 24px;
    }
    .boton_finalizar_compra {
        background-color: var(--color-celeste);
        border-radius: 5px;
        height: 9vh;
        text-align: center;
        font-size: 22px;
        position: relative;
        top: 30vh;
    }
    .boton_continuar_comprando {
        background-color: black;
        color: #ffffff;
        width: 90vw;
        height: 11vh;
        border-radius: 5px;
        margin: 1% 4%;
        text-decoration: none;
        font-size: 24px;
        text-align: center;
    }
    .advertencia {
        background-color: var(--color-verde_agua);
        width: 111vh;
        height: 20vh;
        margin: 1% 4%;
        padding: 18px;
        font-size: 24px;
        line-height: 28px;
    }
    .advertencia_texto {
        width: 90vw;
    }
    .boton_imprimir_pdf {
        background-color: var(--color-gris);
        width: 90vw;
        height: 9vh;
        margin: 1% 4%;
        border-radius: 5px;
        font-size: 24px;
    }
}    
