<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main class="dashboard_main">
                <article class="dashboard_article">
                    <div class="dashboard_div_img">
                        <img src="/images/estabilizador 1.png" alt="">
                    </div>
                    <div class="dashboard_div_texto">
                        <h3>NOMBRE</h3>
                        <h4>Modelo</h4>
                        <h4>Marca</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ipsum voluptates aliquam
                            fugit debitis dolorem assumenda voluptate expedita in corrupti, dolorum, nam libero eaque
                            harum incidunt distinctio ullam suscipit blanditiis.</p>
                    </div>
                    <div class="dashboard_div_botones">
                        <button>Modificar</button>
                        <button>Eliminar</button>
                    </div>
                </article>

                <article class="dashboard_article">
                    <div class="dashboard_div_img">
                        <img src="/images/estabilizador 1.png" alt="">
                    </div>
                    <div class="dashboard_div_texto">
                        <h3>NOMBRE</h3>
                        <h4>Modelo</h4>
                        <h4>Marca</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ipsum voluptates aliquam
                            fugit debitis dolorem assumenda voluptate expedita in corrupti, dolorum, nam libero eaque
                            harum incidunt distinctio ullam suscipit blanditiis.</p>
                    </div>
                    <div class="dashboard_div_botones">
                        <button>Modificar</button>
                        <button>Eliminar</button>
                    </div>
                </article>
                
                <div class="dashboard_div_botonAgregar">
                    <button>+ Agregar Producto</button>
                </div>

            </main>
            <%- include('../partials/footer.ejs') %>
    </body>
</html>