<%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <form action="/products/formCreate"  method=POST  class="form_create" enctype="multipart/form-data">
                <div class="div_config div_form_product">
                    <label for="modelo" id="modelo" class="div_config_label">Modelo</label>
                    <input type="text"  name="modelo" >
                </div>
                <div class="div_config div_form_product">
                    <label for="id_categorias" id="id_categorias">Categoria</label>
                    <select name="categoria" id="id_categorias">
                        <option value="" selected>Elegí una Categoria</option>
                        <option value="ups">UPS</option>
                        <option value="estabilizadores">ESTABILIZADORES</option>
                    </select>
                </div>
                <div class="div_config div_form_product">
                    <label for="marca" id="marca">Elegi una Marca</label>
                    <select name="marca" id="marca">
                        <option value="" selected>Elegí una Marca</option>
                        <option value="Lyonn">Lyonn</option>
                        <option value="APC">APC</option>
                        <option value="Eaton">Eaton</option>
                        <option value="Athom">Athom</option>
                        <option value="TRV">TRV</option>
                        <option value="Forza">Forza</option>
                    </select>
                </div>
                <div class="div_config div_form_product">
                    <label for="descripcion" id="descripcion">Descripcion</label>
                    <textarea name="descripcion" id="descripcion"  cols="60" rows="20"></textarea>
                </div>
                <div class="div_config div_form_product">
                    <label for="potencia" id="potencia">Potencia</label>
                    <input type="number"  name="potencia" >
                </div>
                <div class="div_config div_form_product">
                    <label for="tomas" id="tomas">Cantidad de tomas</label>
                    <input type="number"  name="tomas" >
                </div>
                <div class="div_config div_form_product">
                    <label for="precio" id="precio">Precio</label>
                    <input type="number"  name="precio" >
                </div>
                <div class="div_config div_form_product">
                    <label for="descuento" id="descuento">Descuento</label>
                    <input type="number"  name="descuento" >
                </div>
                <div class="div_config div_form_product">
                    <label for="stock" id="stock">Stock</label>
                    <input type="number"  name="stock" >
                </div>
                <div class="div_config div_form_product">
                    <label for="imagenes" id="imagen">Seleccione una imagen</label>
                    <input type="file"  name="imagenes" multiple>
                </div>
           
                <div class="boton_registro_create">
                    <button type="submit">Crear Producto</button>
                </div>
                
        </form>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>
</html>







