<%- include('../partials/head')%>
    
<body class="body_form">
        <%- include('../partials/header.ejs')%>    
    
        <main class="main_registro">
            <section class="section_form_register"> 
                <article class="article_form_register">
                    <div class="mensaje_bienvenida">
                        <span class="login_titulo_p">¡Bienvenido!</span>
                        <span class="login_subtitulo_p">Ingresá, te estamos esperando...</span>
                    </div>
          
            <form action="/users/login" method="post" id="form_login">
                <div class="div_config">
                    <label for="email">Email</label>
                    <input type="email"  name="email" id="email" placeholder="Email">
                   
                   <p id="p_login_email"></p>
                </div>
                
                <div class="div_config">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <% if (locals.errores && errores.password) { %>
                        <p style="color: red;" > <%= errores.password.msg %> </p> <br>
                        
                        <br>
                   <% } %>
                   <div class="div_config">
                    <p id="p_login_pass"></p>
                   </div>
                   
                   <br>
                </div>
               
                <div class="div_remember">
                    <label for="remember">Recuerdame</label>
                    <input type="checkbox" name="remember">
                </div>
                
                <a href="/users/register" id="login_password">
                    <p>¿No tenés cuenta?</p>  
                    <p>Crea tu cuenta</p>
                </a>
                <div class="boton_login">
                    <button type="submit">Ingresar</button>
                </div> 
            </form>
        </article>
    </section>
        </main>
    <script src="/javascripts/validations-login.js"></script>
    <!-- <script src="/javascripts/dark-mode.js"></script> -->

        <%- include('../partials/footer') %>
    
</body>
</html>