<footer class="footer-father">
    <div class="footer-texto-top">
        <div class="footer-redes-sociales">
            <h3>Seguinos</h3>
            <img src="/images/redesSociales.png" alt="logo-redes-sociales">
        </div>
        <div class="footer-logo">
            <h2>UPSTABLES</h2>
            <p>Protección para tu tecnología, garantizada.</p>
        </div>
        <div class="footer-institucional">
            <h3>INSTITUCIONALES</h3>
            <ul>
                <li>Quienes Somos</li>
                <li>Politica de Privacidad</li>
                <li>Términos y Condiciones</li>
            </ul>
        </div>
    </div>
    <div class="footer-texto-center">
        <ul>
            <li>Copyright © 2023</li>
            <li>UPSTABLES S.A.</li>
        </ul>
    </div>
    <div class="footer-texto-bottom">
        <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Upstables S.A.. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en https://upstables.com  son válidos exclusivamente para la compra vía internet en las páginas antes mencionadas</p>

    </div>
</footer>