<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Detalle Producto</title>
    <link rel="icon" href="/img/favicon.ico"/>  
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <a class="link_to_home_header" href="/">
            <img class="logo_header" src="/img/logo_upstables.jpg" alt="logo_upstables">
                <div class="titular">
                    <h1 class="titulo">UPSTABLES</h1>
                    <p class="subtitulo">Proteccion para tu tecnología, garantizada.</p>
                </div>
               
        
        </a>
        <div class="buscador_header">
            <form >
                <input type="text" name="buscador" placeholder="¿Qué estás buscando?">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
           
        </div>

        
        
        <nav class="nav_header">
             <i class="fas fa-bars"></i>

            
            <a href="/register"> 
            <p class="texto_nav">Creá tu cuenta</p> 
            <i class="fa-solid fa-pen"></i>
            </a>

            
            <a href="/login"> 
                <p class="texto_nav">Ingresar</p> 
                <i class="fa-solid fa-user"></i>
            </a>
            
            
            <a href="/productCart"> 
                <p class="texto_nav">Carrito</p> 
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

            
        </nav>
        <div class="on-off">
            <i class="fa-solid fa-toggle-off"></i>
        </div>
        
    </header>
    <nav class="nav_header_2">
        <h4>UPS</h4>
        <div class="linea"></div>
        <h4 class="estab_nav">ESTABILIZADORES</h4>
        <div class="linea"></div>
        <h4>OFERTAS</h4>
    </nav>
    
    <main class="main_productDetail">

        
       
        <section class="producto">
            <article class="fotos_producto">
                <div class="fotos_extras">
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i id="foto_extra_bkg" class="fa-solid fa-camera"></i>
                    <i id="mas_fotos" class="fa-solid fa-plus"></i>
                </div>
                <img  class="producto_img" src="/img/ups_img.jpg" alt="foto_ups"> 
                <div class="circulos_fotos">
                    <i id="circle_color"class="fa-solid fa-circle"></i>
                    <i class="fa-regular fa-circle"></i>
                    <i class="fa-regular fa-circle"></i>
                </div> 
                
            </article>
            

            <article class="info_producto">
                <h3 class="nombre_producto">CTB - 800VA [DISPLAY]</h3>
                <div class="marca_producto">
                    <p id="marca">Marca:</p> 
                    <p>LYONN</p>
                    <h3 class="precio_producto">$111111111</h3>
                </div>
                
                
                <div class="unidades">
                    <i class="fa-solid fa-minus"></i>
                    <p>1 unidad</p>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="stock_disponible">
                    <i class="fa-solid fa-check"></i>
                    <p>Stock Disponible</p>
                </div>
               <button class="comprar_producto">Comprar Producto</button>
                <div class="agregar_carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Agregar al carrito</p>
                </div>
            </article>
           

        </section>

        <article class="descripcion_producto">
            <p>Descripción</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam neque explicabo minima pariatur accusantium cupiditate, atque reprehenderit! Eveniet iste dicta laborum, assumenda similique illo dignissimos praesentium consectetur magni adipisci quam.</p>
        </article>

        <section class="intereses">
            <p class="intereses_titulo">También podría interesarte</p>
            <article class="productos_relacionados">
                <div class="productos_relacionados_extras">
                    <img src="/img/ups6kva_img.jpg" alt="img-producto">
                    <h4>ULT - 6KVA</h4>
                    <p>$11111111</p>
                </div>
                <div class="productos_relacionados_extras">
                    <img src="/img/ups6kva_img.jpg" alt="img-producto">
                    <h4>ULT - 6KVA</h4>
                    <p>$11111111</p>
                </div>
                <div id="img_relacionados_3"class="productos_relacionados_extras">
                    <img src="/img/ups6kva_img.jpg" alt="img-producto">
                    <h4>ULT - 6KVA</h4>
                    <p>$11111111</p>
                </div>
                <div class="flecha_relacionados">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                
            </article>
        </section>

       <section class="banners_producto">
        
        <img id="img_1"  src="/img/minibanner1-10-06-22.png" alt="img_banner">
        <img id="img_2" src="/img/minibanner2-28-06-22.png" alt="img_banner">
        <img id="img_3" src="/img/minibanner3-10-06-22.png" alt="img_banner">
        
        <div class="circulos_banners">
            <i id="circle_color_banner"class="fa-solid fa-circle"></i>
            <i id="circle_color_white"class="fa-regular fa-circle"></i>
            <i id="circle_color_white"class="fa-regular fa-circle"></i>
        </div>
        </section>

    </main>
    <footer class="footer-father">
        <div class="footer-texto-top">
            <div class="footer-redes-sociales">
                <h3>seguinos</h3>
                <img src="/img/redesSociales.png" alt="logo-redes-sociales">
            </div>
            <div class="footer-logo">
                <h2>UPSTABLES</h2>
                <p>Proteccion para tu tecnologia,garantizada</p>
            </div>
            <div class="footer-institucional">
                <h3>INSTITUCIONALES</h3>
                <ul>
                    <li>Quienes Somos</li>
                    <li>Politica de Privacidad</li>
                    <li>Termino y condiciones</li>
                </ul>
            </div>
        </div>
        <div class="footer-texto-center">
            <ul>
                <li>Copyright © 2023</li>
                <li>UPSTABLES S.A.</li>
            </ul>
        </div>
        <div class="footer-texto-bottom">
            <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de upstables S.A.. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en https://upstables.com  son válidos exclusivamente para la compra vía internet en las páginas antes mencionadas</p>
    
        </div>
    </footer>
</body>
</html>