.Conteiner_articule_users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 56px;
}

.article_listUsers {
    display: flex;
    height: 100%;
    background-color: #04b2d9;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    align-content: stretch;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0); 
    transition: box-shadow 0.3s ease;
}
.article_listUsers:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.box-image-listUsers {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: 60px; */
}
.imagen-usuario {
    width: 62%;
    height: 210px;
    object-fit: cover;
}
.dashboardUsers_div_botones {
    width: 100%;
    display: flex;
    margin: 10px 0px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    margin-bottom: 50px;
}
.users_list {
    height: 30%;
    display: flex;
    padding: 0px 20px;
    flex-wrap: nowrap;
    align-items: baseline;
    /* align-content: center; */
    flex-direction: column;
    justify-content: flex-end;
}

 @media (min-width: 768px) {
    .Conteiner_articule_users {
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .article_listUsers {
        display: flex;
        background-color: #04b2d9;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }
    .box-image-listUsers {
        height: 42%;
        width: 400px;
        display: flex;
        flex-direction: column-reverse;
        /* margin-bottom: 60px; */
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .imagen-usuario {
        width: 49%;
        height: 107px;
        object-fit: cover;
    }
    .dashboardUsers_div_botones {
        width: 32%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-content: center;
    }
    .users_list {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: flex-end;
        width: 82%;
    }
    .p_texto{
        margin-bottom: 4px;
        margin-top: 4px;
        font-size: 18px;  
    }
    .boton_verificar {
        font-size: 18px;
        margin-right: 32px;
    }
} 
@media (min-width: 1024px) {
    .article_listUsers {
        display: flex;
        background-color: #04b2d9;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .dashboard_box_search-add {
        justify-content: center;

    }
}