.article_form_create {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 40px auto;
  gap: 20px;
  border-right: #04b2d9 2px solid;
  border-bottom: #04b2d9 2px solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.6);
  padding: 8px;
}
.form_create {
  margin: 0 auto;
}
.label-create {
  display: none;
}
.form_create input {
  border: 1px solid #000;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 10px;
}
#div_imagen {
  width: 50%;
  margin: 20px 0;
}
.centered-img_producto {
  width: 100%;
}

textarea {
  width: 100%;
  border-radius: 15px;
}
.image-create {
  width: 100%;
}
/* .producto{
    width: 30%;
    margin: auto;
} */
.boton_registro_create {
  margin: 0 auto;
  width: 35%;
}

.boton_registro_create button {
  /* background-color: var(--color-celeste);
    width: 100%;
    border-radius: 5px;
    display: flex;
    margin: 10% auto;
    padding: 6px;
    font-family: 'Roboto';
    font-size: 82%;
    justify-content: center; */

  background-color: var(--color-celeste);
  width: 100%;
  border-radius: 5px;
  margin: 10% auto;
  padding: 6px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 22px;
}

.boton_registro_create button:hover {
  background-color: rgb(8, 200, 244);
}

input::placeholder {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--color-negro);
}
.boton_registro_update {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.boton_registro_update button {
  background-color: var(--color-celeste);
  width: 110px;
  border-radius: 5px;
  margin: 10% auto;
  padding: 6px;
  font-family: "Roboto";
  font-size: 82%;
}
.boton_registro_update form {
  margin: 10% auto;
  padding: 6px;
}

@media (min-width: 320px) {
  .id-create {
    width: 100%;
  }
  .text-create {
    width: 100%;
  }

  .div_update-image {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 2%;
  }
}
/*--------media query para tablet----------*/

@media (min-width: 768px) {
  .div_buttons_top {
    display: flex;
    justify-content: end;
    margin: 20px;
  }
  .div_buttons_top button {
    margin-left: 10px;
  }
  .form_create {
    width: 80%;
  }
  .id-create {
    width: 15%;
  }
  .text-create {
    width: 75%;
  }
  .boton_registro_update {
    width: 80%;
  }
  .boton_registro_update button {
    width: 150px;
  }
  .imagen_product {
    margin-left: 120px;
    margin-top: 37px;
  }
}
/*-------media query para desktop----------*/
@media (min-width: 1024px) {
  .div_buttons_top {
    width: 50%;
    display: flex;
    justify-content: left;
  }
  .div_buttons_top button {
    margin-right: 10px;
  }
  .form_create {
    width: 70%;
    height: 70%;
  }
  /*.boton_registro_update{
        width: 50%;
    }*/
}
