
:root{
    --color-gris: #d1d4de;
    --color-negro: #000000;
    --color-celeste: #04b2d9;
    --color-background: #FFFFFF;
    --color-verde_agua: #2DD4DA;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-image: url("/images/circuit_bg 14.png");
    background-color: #D1D4DE;
}




