.main_login {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mensaje_bienvenida {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  margin: 30px auto;
}

.login_titulo_p {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.login_subtitulo_p {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  width: 260px;
}

#form_login {
  display: flex;
  flex-direction: column;
  margin: 0% auto;
  width: 90%;
}

#login_password {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-weight: bold;
  padding: 5%;
  text-decoration: none;
  color: var(--color-negro);
}

#login_password :hover {
  transform: scale(1.1);
}

.boton_login {
  margin: 5% auto 10%;
}

.boton_login button {
  background-color: var(--color-celeste);
  border-radius: 5px;
  margin: 10% auto;
  padding: 8px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.boton_login button:hover {
  background-color: rgb(8, 200, 244);
}

@media (min-width: 768px) {
  .login_titulo_p {
    font-size: 52px;
    margin-bottom: 10px;
  }

  .login_subtitulo_p {
    font-size: 38px;
    width: 400px;
    margin-top: 10px;
  }

  .boton_login {
    margin: 0% auto 10%;
  }

  .boton_login button {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  #form_login {
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
  }

  .login_titulo_p {
    font-size: 62px;
  }

  .login_subtitulo_p {
    font-size: 48px;
    width: 450px;
  }

  form a {
    order: 1;
  }

  #login_password {
    height: 50px;
    align-items: center;
    padding: 0%;
  }

  .box_boton_login {
    display: flex;
    margin-top: 5%;
    width: 40%;
  }

  .boton_login {
    margin: 0% 5% 10% 0%;
    display: flex;
    align-items: center;
    height: 50px;
  }
}
